.video-whole {
    display: flex;
}

.video-show-right {
    width: 70%;
    margin-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
}

.video-show-left {
    width: 30%;
    padding-top: 24px;
    padding-right: 24px;
}

.video-user-header {
    margin-top: 12px;
    margin-bottom: 24px;
}

.video-title {
    font-family: "YouTube Sans","Roboto",sans-serif;
    font-size: 23px;
    font-weight: 500;
}