/* show page index */

.video-show-item {
    display: flex;
}

.video-show-image > * {
    margin-top: 4px;
    margin-bottom: 2px;
    border-radius: 10px;
    height: 94px;
    width: 168px;
    /* width: 100%; */
}

.show-item-details {
    width: 50%;
    /* margin-top: 9px; */
    margin-top: 5px;
    margin-left: 8px;
    font-family: "YouTube Sans","Roboto",sans-serif;
}

.show-item-title {
    font-size: 14px;
    font-weight: 500;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    margin-bottom: 7px;
}

.show-item-username {
    font-size: 12px;
    color: rgba(70, 70, 70, 0.9);
    margin-bottom: 6px;
}

.show-other-details {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-item-views {
    font-size: 12px;
    font-weight: 400;
    color: rgba(70, 70, 70, 0.9);
    margin-right: 5px;
}

.show-item-date {
    font-size: 12px;
    font-weight: 400;
    color: rgba(70, 70, 70, 0.9);
}

.video-show-icon {
    display: none;
}

/* home page index */

.video-home-index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 24px;
}

.video-home-item {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 63px;
}

@media (min-width: 1400px){
    .video-home-item {
        width: 23.25%;
    }
}

@media (min-width: 1100px) and (max-width: 1400px) {
    .video-home-item {
        width: 30%;
    }
}

@media (min-width: 700px) and (max-width: 1100px) {
    .video-home-item {
        width: 45%;
    }
}

@media (min-width: 0px) and (max-width: 700px) {
    .video-home-index {
        margin-left: 16px;
        margin-right: 16px;
    }
    .video-home-item {
        width: 90%;
        max-width: 500px;
        min-width: 120px;
    }
}

.video-home-image > * {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
}

@keyframes bordertransition {
    from {
        border-radius: 10px;
        transform: scale(1);
    }
    to {
        border-radius: 0;
        transform: scale(1.005);
        /* overflow: hidden; */
    }
}

.video-home-image > *:hover {
    animation: bordertransition 0.5s forwards;
}

.home-item-details {
    display: flex;
    width: 92%;
    margin-top: 10px;
    font-family: "YouTube Sans","Roboto",sans-serif;
}

.home-item-title {
    font-size: 16px;
    font-weight: 500;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    margin-bottom: 7px;
}

.home-item-username {
    font-size: 14px;
    color: rgba(70, 70, 70, 0.9);
    margin-bottom: 6px;
}

.home-other-details {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-item-views {
    font-size: 14px;
    font-weight: 400;
    color: rgba(70, 70, 70, 0.9);
    margin-right: 5px;
}

.home-item-date {
    font-size: 14px;
    font-weight: 400;
    color: rgba(70, 70, 70, 0.9);
}

.video-home-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    min-width: 36px;
    margin-right: 12px;
    border-radius: 100px;
    background-color: rgba(170, 170, 170, 0.35);
    cursor: pointer;
}

.video-home-icon > i {
    font-size: 18px;
}

.dot {
    font-size: 15px;
    color: rgba(70, 70, 70, 0.9);
    margin-right: 4px;
}