nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    height: 56px;
    /* border: 2px solid rgba(0, 68, 255, 0.5); */
}

.left-nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 15% */
}

.left-nav-bar > * {
    display: flex;
    padding: 8px;
}

.hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 24px;
    width: 24px; */
    height: 40px;
    width: 40px;
    margin-right: 4px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.mid-nav-bar {
    /* width: 15% */
}

.right-nav-bar {
    display: flex;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    /* width: 15% */
}

.dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    margin-left: 8px;
    margin-right: 8px;
    border: none;
    border-radius: 100px;
    background-color: rgba(170, 170, 170, 0.35);
    cursor: pointer;
}

.dropdown-button:hover {
    background-color: rgba(170, 170, 170, 0.35);
}

.profile-dropdown {
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    top: 37px;
    right: 0px;
    width: 300px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
}

.profile-dropdown > * {
    margin-top: 3px;
    margin-bottom: 3px;
}

.profile-dropdown-header {
    display: flex;
    padding: 16px;
    height: 72px;
    width: 268px;
    border-bottom: 1px solid rgba(178, 178, 178, 0.5);
}

.user-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    margin-right: 16px;
    border: none;
    border-radius: 100px;
    background-color: rgba(170, 170, 170, 0.35);
    cursor: pointer;
}

.profile-dropdown-details {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.profile-dropdown-details > h1 {
    margin-bottom: 4px;
}

.profile-dropdown-details > h2 {
    font-size: 14px;
}

.profile-dropdown-details > button {
    margin-top: 4px;
}

.fa-bars {
    font-size: 18px;
}

.fa-user {
    font-size: 18px;
}

.fa-user.user-pic {
    font-size: 22px;
}